<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Christian Albarracín - cartografias</title>
 <link rel="icon" href="assets/img/logo albarracin.png" type="image/x-icon">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link href="https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&display=swap" rel="stylesheet">


<link href="assets/style.css?v=3" rel="stylesheet">
</head>
<body class="page-cartografias loading">
<!-- PRELOADER -->

    <header id="header">

        <nav id="mainNav" class="navbar fixed-top">

            <div class="container-fluid">

                <!-- Logo -->

                <a href="index.html" class="navbar-logo">
                    <img
                        id="logoNav"
                        src="assets/img/logo-negro.png"
                        alt="Christian Albarracín">
                </a>

                <!-- Botón Mobile -->

                <button
                    class="menu-toggle"
                    id="menuToggle"
                    aria-label="Abrir menú">

                    <span></span>
                    <span></span>
                    <span></span>

                </button>

                <!-- Navegación -->

                <div class="nav-wrapper" id="navWrapper">

                    <ul class="nav-menu">

                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>

                        <li>
                            <a href="cartografias.html">
                                Trabajo
                            </a>
                        </li>

                        <!-- Mega Menu -->

                        <li class="has-mega d-flex submenu-desplegar">

                            <a
                                href="tienda.html"
                               >

                                Tienda

                              

                            </a>
                            <a href="tienda.html"  class="mega-trigger">
                                  <span class="arrow">

                                    <svg
                                        width="12"
                                        height="8"
                                        viewBox="0 0 12 8"
                                        fill="none">

                                        <path
                                            d="M1 1L6 6L11 1"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"/>

                                    </svg>

                                </span>
                            </a>

                            <div class="mega-menu">

                                <div class="mega-content">

                                    <div class="mega-column">

                                        <a href="producto.html">
                                            Escultura
                                        </a>

                                        <a href="producto.html">
                                            Instalación
                                        </a>

                                    </div>

                                </div>

                            </div>

                        </li>

                        <li>

                            <a href="contacto.html">
                                Contacto
                            </a>

                        </li>

                    </ul>

                </div>

            </div>

        </nav>

    </header>
<!-- HERO -->
 


<section id="cartografias-hero">

    <div class="container-fluid">

       <h1 class="cartografias">
    <span class="carto">CARTO</span>

    <span class="grafias">
    <span class="gr">GR</span>

    <span class="a-script">A</span>
     <span class="espacio-a"></span>

    <span class="fias">FÍAS</span>
</span>
    <div class="descripcion">
    <span class="paren">(</span>

    <div class="texto">
        <span>DE CUERPOS Y</span>
        <span>SUPERFICIES VIVAS</span>
    </div>

    <span class="paren">)</span>
</div>
</h1>
        </div>

    </div>

</section>

<section id="cartografias-intro">

    <div class="container-fluid">

        <div class="intro-image">

            <img src="assets/img/img-bg-cartografias.jpg">

        </div>

    </div>

</section>

<section id="statement" class="statement-section">

    <div class="container-fluid">

        <div class="row justify-content-end">

            <div class="col-lg-6 col-md-8 col-sm-12 statement-section-right">

                <div class="statement-content">

                <h2 class="statement-title">

                        <span>A lo largo de su trayectoria, ha participado en importantes exposiciones nacionales e internacionales y 
                            ha trabajado en proyectos comunitarios que integran arte, educación y medio ambiente. 
                            Su propuesta combina la investigación técnica con un profundo compromiso social, consolidando un
                            lenguaje artístico único en el panorama contemporáneo colombiano.
                        </span>
                       

                    </h2>

                    <div class="statement-line"></div>

                </div>

            </div>

        </div>

    </div>

</section>

<section id="exposiciones" class="expo-section">

    <div class="container">

        <!-- TITULO -->

        <div class="expo-header">

            <h2 class="expo-title">

                <span>(EXPO</span>
                <span>SICIO</span>
                <span>NES)</span>

            </h2>

            <span class="expo-category">

                / DISEÑO & CREACIÓN

            </span>

        </div>

        <!-- TIMELINE -->

        <div class="expo-timeline">

            <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>26</span>

                </div>

                <div class="expo-content">

                    <p>
                        Feria Art Palm Beach - Contemporary Art Gallery (2026).
                    </p>

                    <p>
                        Lenguajes en Papel - Galería en Museo, Bogotá (2026).
                    </p>

                </div>

            </div>

            <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>25</span>

                </div>

                <div class="expo-content">

                    <p>
                        60 Premio Reina Sofía de Pintura y Escultura, Madrid - España.
                    </p>

                    <p>
                        Feria Art Palm Beach - Blink Group Gallery (2023-2025).
                    </p>

                    <p>
                        Feria Context + Art Miami - Contemporary Art Gallery (2025).
                    </p>

                </div>

            </div>

            <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>24</span>

                </div>

                <div class="expo-content">

                    <p>
                        Feria Context + Art Miami – Blink Group Gallery (2022 – 2024).
                    </p>

                    <p>
                        "20 años de Arte en Papel" – Lucca Biennale Cartasia, Italia (2024).
                    </p>

                    <p>
                        Art Wynwood – Miami, EE. UU. (2023 – 2024).
                    </p>

                </div>

            </div>

            <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>23</span>

                </div>

                <div class="expo-content">

                    <p>
                       Art Market Budapest – Galería Adrián Ibáñez.
                    </p>

                    <p>
                       Feria Siete Cinco – Galería Elsa Piñeres, Barranquilla (2020 – 2023). 
                    </p>

                    <p>
                        "Sujetos de Ciudad" – Galería Adrián Ibáñez.
                    </p>
                    
                    <p>
                       Subasta Museo Nacional de Colombia (2020 – 2023).
                    </p>

                </div>

            </div>
            <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>22</span>

                </div>

                <div class="expo-content">

                    <p>
                      VII Salón BAT de Arte Popular: "Colombia y medio ambiente". 
                    </p>

                    <p>
                      "Poder Ser" – Exposición individual, Galería Duque Arango.
                    </p>

                   

                </div>

            </div>

            <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>21</span>

                </div>

                <div class="expo-content">

                    <p>
                     Exposición colectiva – Galería Duque Arango, Medellín.
                    </p>
                 

                </div>

            </div>

             <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>20</span>

                </div>

                <div class="expo-content">

                    <p>
                    Exposición digital – Carta Abierta Galería
                    </p>
                 

                </div>

            </div>

            <div class="expo-item">

                <div class="expo-year">

                    <span>20</span>
                    <span>19</span>

                </div>

                <div class="expo-content">

                    <p>
                   "Personas, animales y cosas" – Galería Cero.
                    </p>
                 

                </div>

            </div>
            <!-- Continuar años -->

        </div>

    </div>

</section>


<section id="reconocimientos">

    <div class="container-fluid">

        <div class="row align-items-start">

            <!-- TÍTULO -->

            <div class="col-lg-5">

               

            </div>

            <!-- CONTENIDO -->

            <div class="col-lg-7">

                <div class="recognition-content">

                     <div class="recognition-heading">

                    <h2 class="recognition-title">

                        *RECO
                        <br>
                        NOCI
                        <br>
                        MIENTOS

                    </h2>

                </div>

                    <div class="recognition-item">

                        <p>
                            Ganador de iniciativas artísticas en Alcaldías Locales de Bogotá: <br><br>
                            Teusaquillo (2014), Engativá (2015), Usaquén (2015),
                            Kennedy (2016), Chapinero (2017).
                        </p>

                    </div>

                    <div class="recognition-item">

                        <p>
                            Instituto de Participación y Acción Comunal IDPAC
                            (2018 – 2019).
                        </p>

                    </div>

                    <div class="recognition-item">

                        <p>
                            Beca María Cecilia Quiasua –
                            Fundación Gilberto Stand Up (2019).
                        </p>

                    </div>

                    <div class="recognition-item">

                        <p>
                            Beca Corredores Artísticos y Culturales –
                            Secretaría de Cultura, Recreación y Deporte (2020).
                        </p>

                    </div>

                    <div class="recognition-item">

                        <p>
                            Beca Habitar la Cultura en Comunidad –
                            Secretaría de Cultura, Recreación y Deporte (2020).
                        </p>

                    </div>

                    <div class="recognition-item">

                        <p>
                            Reconocimiento Exposición Maestro de Maestros –
                            Fundación Corazón Verde (2026).
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>




<section id="newsletter-footer">

    <div class="container-fluid">

        

        <!-- FOOTER -->

        <footer class="footer-main">

            <!-- SOCIAL -->

            <div class="footer-social">

                <a href="https://www.instagram.com/christianalbarracin.art?igsh=MWdmb3B1NnJ0aTQyZw==">
                    <i class="bi bi-instagram"> <img width="50" src="assets/img/INSTA.png" alt=""></i>
                </a>

                <a href="https://www.facebook.com/share/1PTKUYyg4p/">
                    <i class="bi bi-facebook"><img width="50" src="assets/img/FACE.png" alt=""></i>
                </a>

                <a href="#">
                    <i class="bi bi-youtube"><img width="50" src="assets/img/YT.png" alt=""></i>
                </a>

            </div>

            <!-- BRAND -->

            <div class="footer-brand">

                <img width="500" src="assets/img/name-footer-2.png" alt="">

            </div>

            <!-- LEGAL -->

            <div class="footer-legal">

                <a href="#">
                    Política de privacidad
                </a>

                <span>-</span>

                <a href="#">
                    Cookies
                </a>

                <span>-</span>

                <a href="#">
                    Términos y condiciones
                </a>

                <span>-</span>

                <a href="#">
                    Aviso legal
                </a>

            </div>

        </footer>

    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


<script src="assets/script.js?v=3"></script>


</body>
</html>